* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #00008bcb;
}

.wraper{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.loader {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.loading {
    background-color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    margin: 10px;
}